## Style

- Use Neo Brutalism from https://www.neobrutalism.dev
- Always use Tailwind CSS for styling

## File Structure

- Put components in src/components/ folder
- Put library codes in src/lib/ folder

## Code Structure

- Use Preact for front end library, not React
- Use kebab-case for component file name
- main.js is the main entry point that renders the app (js/app.js)
- Some functions are exposed globally (e.g. `useState`, `useEffect`). Refer to main.js for full list.
